:root {
  --color: rgb(20, 20, 20);
  --secondary-color: rgb(46, 50, 54);
  --accent-color: rgb(0, 0, 0);

  --gap: 0.5em;

  --font-normal: 1em;
  --font-medium: 1.5em;
  --font-large: 1.7em;
}

html {
  background-color: var(--color);
  box-sizing: border-box;

  font-family: "Courier New", Courier, monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  /* width: 100vw; */
  /* height: 100vh; */
  flex-direction: column;
  gap: 1em;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: var(--gap);

  border: var(--gap) solid var(--secondary-color);
  background-color: var(--secondary-color);
}

.tile {
  width: 150px;
  height: 150px;

  color: white;
  font-size: var(--font-medium);

  background-color: var(--color);
  transition: 0.5s ease;
}

@media (max-width: 900px) {
  .tile {
    width: 70px;
    height: 70px;
  }

  .content {
    gap: 0.5em;
  }

  :root {
    --gap: 0.3em;

    --font-normal: 0.5em;
    --font-medium: 1em;
    --font-large: 1.3em;
  }
}

.tile:hover {
  background-color: var(--accent-color);
}

.turn-dialog {
  display: none;
  color: white;
  margin: 0;
  font-size: var(--font-medium);
}

.button {
  color: white;
  font-size: var(--font-large);
  text-decoration: none;

  border-radius: 10px;
  border: 0.1em solid var(--secondary-color);

  background-color: var(--color);

  padding: 0.3em 1em 0.3em 1em;
  transition: 0.3s ease-out;
}
